body {
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 97vh;
  background-color: hsl(230, 100%, 99%);
  background-image: url(./images/bg-pattern.svg);
  background-repeat: no-repeat;
}
.header {
  text-align: center;
  margin-bottom: 50px;
}
.header h1 {
  margin-bottom: 0;
}
.header p {
  color: hsl(225, 20%, 60%);
  margin-top: 0;
}
.card {
  background-color: white;
  border-radius: 7px;
  width: 450px;
  margin-bottom: 50px;
}
.title {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  align-items: center;
}
.billing {
  padding: 10px 50px;
  margin-top: 40px;
  margin-left: 30px;
}
.discount {
  margin-left: 20px;
  background-color: hsl(14, 92%, 95%);
  color: hsl(15, 100%, 70%);
  border-radius: 10px;
  padding: 2px;
  font-size: 10px;
}
.line {
  width: 100%;
  height: 2px;
  background-color: lightgray;
  margin-top: 50px;
}
.last {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px 50px;
}
.checker {
  display: flex;
  align-items: center;
}
.checker img {
  margin-right: 5px;
}
.last button {
  padding: 10px 40px;
  border-radius: 20px;
  border: none;
  color: hsl(226, 100%, 87%);
  background-color: hsl(227, 35%, 25%);
  cursor: pointer;
  font-weight: 900;
}
.last .checker + .checker {
  margin-top: 0;
  margin-bottom: 0;
}

.slidecontainer {
  width: 100%;
  padding: 10px 50px;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 0.5rem;
  border-radius: 5px;
  background: hsl(224, 65%, 95%);
  outline: none;
}

.slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
  background-color: hsl(174, 86%, 45%);
  background-image: url("images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 1rem 2rem #51ffee;
  transition: all 0.25s ease-in-out;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
  background-color: hsl(174, 86%, 45%);
  background-image: url("images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 1rem 2rem #51ffee;
  transition: all 0.25s ease-in-out;
}

.slider::-moz-range-thumb:hover {
  background-color: #87ede3;
}

.slider::-webkit-slider-thumb:hover {
  background-color: #87ede3;
}

.slider:hover {
  cursor: grabbing;
}

.slider::-webkit-slider-thumb:active {
  cursor: grabbing;
}

input[type="range"]::-moz-range-progress {
  height: 0.5rem;
  border-radius: 5px;
  background-color: hsl(174, 77%, 80%);
  cursor: grabbing;
}

.switch {
  width: 43px;
  height: 22px;
  margin: 0 1rem;
  position: relative;
  top: 2px;
  display: inline-block;
  transition: all 0.25s ease-in-out;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderswitch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsl(223, 50%, 87%);
  transition: all 0.25s ease-in-out;
}

.sliderswitch:hover {
  opacity: 0.6;
  background-color: hsl(174, 86%, 45%);
}

.sliderswitch:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

input:checked + .sliderswitch:before {
  transform: translateX(20px);
}

.sliderswitch.round {
  border-radius: 22px;
}

.sliderswitch.round:before {
  border-radius: 50%;
}

#pageviews {
  color: hsl(225, 20%, 60%);
  font-size: 14px;
}

#price {
  font-size: 20px;
  color: hsl(227, 35%, 25%);
}
.mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
  .title {
    flex-direction: column;
  }
  .slidecontainer {
    padding: 8px 4px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: inline;
    margin-left: 10px;
  }
  .billing {
    padding: 10px 25px;
    margin-left: 0;
    display: flex;
    align-items: center;
  }
  .last {
    flex-direction: column;
    text-align: center;
  }
  .slider {
    width: 95%;
  }
}
